
body {
    background-color: lightskyblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
}
h1{
    color: brown;
    background-color: aquamarine;
}
h2{
    color: bisque;
}
p {
    text-align: justify;
}